<div id="about" class="section grid">
  <div class="card home-card">
     <span class="fa-layers fa-fw card-icon" style="background:#424242">
<i class="fas fa-comments fa-10x" data-fa-transform="grow-10" style="color:#fff;"></i>
<i class="fas fas fa-heart fa-10x animated infinite bounce" data-fa-transform="shrink-8 up-3 left-4"  style="color:tomato;"></i>
</span>
  </div>
    <div class="col-text">
    <h2>The all-in-one agency</h2>
    <p>We’re Ockupy, the innovative trailblazers that your local creative agency told you not to worry about. Not only will we ensure that your experience in the digital world is gratifying, but we will also help you develop a leading presence in today’s competitive online culture.</p>
  </div>
</div>
<div class="section grid">
  <div class="col-text">
    <h2>We know crypto</h2>
    <p>We help upcoming ICOs and established blockchain technologies stand out and become more visible to potential users. We simplify messages so that your tech can be understood by a wider audience and then we spread that message everywhere – Twitter feeds, YouTube videos, Telegram channels, and subreddits. As we increase the community, we increase your brand value.</p>
  </div>
  <div class="card home-card">
    <span class="fa-layers fa-fw card-icon" style="background:#424242">
      <i class="far fa-chart-line fa-10x" data-fa-transform="grow-10" style="color:#fff;"></i>
      <i class="fas fa-moon fa-6x" data-fa-transform="up-20 right-25" style="color:#fff;"></i>
      <i class="fas fa-rocket fa-10x" data-fa-transform="shrink-10 up-10"  style="color:#b388ff;"></i>
      <i class="fas fa-fire fa-10x animated infinite pulse" data-fa-transform="shrink-12 up-6.5 left-3 rotate--120"  style="color:#ffab00;"></i>
</span>
  </div>
</div>
